* {
    scroll-behavior: smooth;
}
:root {
    --main-sky-blue: #34c9b6;
    --grey: #f3f1f1;
    --white: #ffffff;
    --light-green: #e6f7fc;
    --green: #57bd5e;
}
/* ===UPPER INFO BAR STYLES=== */
.upper-info-bar {
    background-color: var(--main-sky-blue);
    color: var(--white);
    padding: 16px 0;
}

/* ===NAVBAR STYLES=== */
nav {
    background-color: var(--white);
}

/* ====HOME SECTION STYLES==== */
.services-home-img {
    position: relative;
}
.services-home-img::after {
    position: absolute;
    content: "";
    background-color: rgba(67, 65, 65, 0.556);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.services-home-img figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.services-home-img figcaption h1, .services-home-img figcaption a, .services-home-img figcaption p {
    color: var(--white);
    text-align: center;
}
.services-home-img figcaption a {
    text-decoration: none;
}

/* ======OUR SERVICES SECTION STYLES====== */
.services-upper-text-wrapper {
    text-align: center;
}
.services-upper-text-wrapper h2 span {
    color: var(--green);
}
.service-card {
    background-color: var(--light-green);
    margin-top: 18px;
    text-align: center;
    padding: 20px 18px;
    border: none;
    border-radius: 8px;
    transition: all .45s ease;
}
.service-card:hover {
    background-color: var(--main-sky-blue);
    color: var(--white);
}
.service-card p {
    margin-bottom: 0;
}

/* ====ASK QUESTIONS SECTION STYLES==== */
.ask-question-section-wrapper {
    background-color: var(--main-sky-blue);
}
.ask-question-section-wrapper .container-my {
    text-align: center;
}
.ask-question-section-wrapper .container-my h3 {
    color: var(--white);
    margin-bottom: 24px;
}
.ask-question-section-wrapper .container-my a {
    background-color: var(--white);
    color: var(--main-sky-blue);
    border: none;
    border-radius: 16px;
    padding: 6px 12px;
    text-decoration: none;
}

/* ====I HEALTH FEATURE SECTION STYLES==== */
.i-health-feature-upper-text {
    text-align: center;
}
.i-health-feature-upper-text h2 span {
    color: var(--green);
}
.feature-card {
    position: relative;
    margin-top: 24px;
}
.feature-card img {
    width: 100%;
    border-radius: 8px;
}
.feature-card-cap button {
    position: absolute;
    background-color: var(--green);
    color: var(--white);
    bottom: 48%;
    right: 5%;
    transform: translateY(-48%);
    border-radius: 12px;
    padding: 3px 12px;
    border: none;

}
.feature-card-cap h4, .feature-card-cap p {
    padding: 0 0 0 16px;
    text-align: center;
}
.blog-card-cap h4 {
    text-decoration: none;
    color: black;
    margin-top: 12px;
    display: inline-block;
}

/* ====FOOTER STYLES==== */
.main-footer {
    background-color: var(--main-sky-blue);
    padding: 50px 0 30px 0;
}
.main-footer h5 {
    color: var(--white);
    margin-bottom: 24px;    
}
.main-footer ul {
    padding: 0;
}
.main-footer ul li {
    list-style-type: none;
    color: var(--white);
    margin-bottom: 6px;
}
.footer-clinic-timming {
    background-color: var(--white);
    border-radius: 12px;
    padding: 12px 0 10px 8px;
}
.footer-clinic-timming ul li, .footer-clinic-timming h5 {
    color: black;
}
.footer-clinic-timming ul li {
    font-size: 12px;
}
.copy-right-text {
    display: flex;
    justify-content: center;
}
.copy-right-text p {
    margin-bottom: 0;
    color: var(--white);
    padding-top: 24px;
}



/* ===GENERIC CLASSES=== */
.container-my {
    width: 80%;
    margin: 0 auto;
}





@media (max-width: 575.98px) {

}

@media (max-width: 767.98px) {
    .container-my {
        width: 100%;
    }

    .upper-info-bar {
        display: none;
    }

    .our-services-cards-wrapper {
        padding: 0 12px;
    }

    .feature-card {
        padding: 0 24px;
    }

    .row .footer-departments, .row .footer-services, .row .footer-links, .row .footer-clinic-timming {
        padding: 12px 24px;
    }
    .row .footer-clinic-timming {
        width: 50%;
    }
}

@media (max-width: 991.98px) {
    .upper-info-bar p {
        font-size: 14px;
    }
}

@media (max-width: 1199.98px) {

}